<div class="align-self-center to">
    <div class="mt-5 d-flex container flex-row border border-dark rounded pb-2">
        <div class="d-flex container flex-column col-4 justify-content-center">
            <h2 class="mx-auto">Narudžbenica</h2>
            <div class="mb-3 d-flex flex-column justify-content-after">
                <label for="exampleInputEmail1" class="form-label">Pib dobavljača *</label>
                <div class="nar">
                    <div>
                        <input type="text" class="form-control" id="exampleInputEmail1" autocomplete="off" ngModel
                            name="pib" [(ngModel)]="pib" aria-describedby="emailHelp" required
                            placeholder="Pretraži dobavljača">
                    </div>
                    <button class="btn btn-warning" (click)="getDobavljac(pib)">Pronađi</button>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Naziv dobavljača</label>
                <input type="text" class="form-control" id="exampleInputEmail1" ngModel [(ngModel)]="nazivDobavljaca"
                    name="nazivDobavljaca" aria-describedby="emailHelp" disabled>
            </div>
            <form #registerForm="ngForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Šifra narudžbenice *</label>
                    <div class="nar">
                        <div>
                            <input type="number" class="form-control" id="exampleInputEmail1" autocomplete="off" ngModel
                                name="sifra" [(ngModel)]="sifra" aria-describedby="emailHelp" required
                                placeholder="Pretraži narudžbenicu">
                        </div>
                        <div>
                            <button class="btn btn-success" (click)="getMaxSifra()"><i class="fa fa-plus"
                                    aria-hidden="true"></i> Nova</button>
                        </div>
                        <div>
                            <button class="btn btn-warning" (click)="getNarudzbenica(sifra)"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Napomena</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" autocomplete="off" ngModel
                        [(ngModel)]="napomena" name="napomena" aria-describedby="emailHelp"
                        placeholder="Unesite Napomenu">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Datum *</label>
                    <input type="datetime-local" step="1" class="form-control" id="exampleInputPassword1" ngModel
                        [(ngModel)]="datum" name="datum" required>
                </div>
            </form>
        </div>
        <div class="d-flex container flex-column justify-content-center col-8">
            <app-stavka [sifra]="sifra" [stavke]="stavke" (stavkeChange)="stavke=$event"
                [selectedRowIds]="selectedRowIds" (selectedRowIdsChange)="selectedRowIds=$event" *ngIf="clicked">
            </app-stavka>
        </div>

    </div>
    <div class="d-flex container flex-row justify-content-between mt-3">
        <button class="btn btn-success col-3" type="submit" (click)="sacuvajNarudzbenicu()"> <i class="fa fa-save"
                style="font-size: x-large;"></i></button>
        <button class="btn btn-danger col-3" (click)="otkazi()"> <i class="fa fa-times-circle"
                style="font-size: x-large;"></i></button>
    </div>
</div>