.te_{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img_{
    border-radius: 50%;
    height: 50px;
}

.fa-address-card{
    color: #00a6e7;
    font-size: 50px;
}

.w3-button{
    font-size: large;
}