<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a routerLink="home" class="w3-bar-item w3-button w3-wide te_"><i class="fa fa-address-card" aria-hidden="true"></i>    </a>
    <div class="w3-right w3-hide-small te_">
      <a class="w3-bar-item w3-button"><img class="img_" src="{{user?.picture}}"> {{user?.name}}</a>
      <a routerLink="radnik" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Radnik</a>
      <a routerLink="narudzbenica" class="w3-bar-item w3-button"><i class="fa fa-book"></i> Narudžbenica</a>
      <a routerLink="login" *ngIf="user" class="w3-bar-item w3-button" (click)="signOut()"><i class="fa fa-sign-out"></i> Odjava</a>
    </div>
  </div>
</div>