  <html>
    <title>FPIS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  
    .w3-bar .w3-button {
      padding: 16px;
    }
    </style>

  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a routerLink="home" class="w3-bar-item w3-button w3-wide">Početak</a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a routerLink="radnik" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Radnik</a>
        <a routerLink="narudzbenica" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Narudžbenica</a>
      </div>
    </div>
  </div>
  </html>