<div class="d-flex container flex-row justify-content-between mt-3">
  <h2 *ngIf="stavke?.length; else elseBlock">Stavke narudžbenice</h2>
  <ng-template #elseBlock>
    <h2>Trenutno nema stavki</h2>
  </ng-template>
  <button class="btn btn-success" (click)="dodaj()">Dodaj <i class="fa fa-plus"></i></button>
</div>
<table class="table" *ngIf="stavke?.length">
  <thead>
    <tr>
      <th scope="col">RBR</th>
      <th scope="col">Količina</th>
      <th scope="col">JM</th>
      <th scope="col">Materijal</th>
      <th scope="col">Akcija</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stavka of stavke; let i=index"
    [class.hihighlighted]="rowIsSelected(stavka.redni_broj)">
      <td><input class="form-control" type="number" value="{{stavka.redni_broj}}" disabled></td>
      <td><input class="form-control" type="number" value="{{stavka.kolicina}}" [(ngModel)]="stavka.kolicina"></td>
      <td ><input class="form-control" type="text" value="{{stavka.jm}}" [(ngModel)]="stavka.jm"></td>
      <td><select class="form-select mb-3" aria-label="Default select example" name="materijal"
          [(ngModel)]="stavka.materijal.sifra">
          <option [value]="materijali[i].sifra" *ngFor="let materijal of materijali; let i=index">{{materijal.naziv}}</option>
        </select></td>
      <td>
        <span class="trash_" (click)="obrisi(stavka.redni_broj)" >
          <i class="fa fa-trash ico"></i>
        </span>
      </td>
    </tr>
  </tbody>
</table>