<div class="d-flex container flex-row justify-content-between">
    <h2>Stavke narudžbenice</h2>
    <button class="btn btn-success">Dodaj <i class="fa fa-plus"></i></button>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">RBR</th>
        <th scope="col">Količina</th>
        <th scope="col">JM</th>
        <th scope="col">Materijal</th>
        <th scope="col">Akcija</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td><input class="form-control" type="number" value="1"></td>
        <td><input class="form-control" type="number" value="1"></td>
        <td><input class="form-control" type="text" value="komad"></td>
        <td><input class="form-control" type="text" value="cement"></td>
        <td class="d-flex flex-row justify-content-between">
            <span style="color: red; font-size: x-large;"><i class="fa fa-trash"></i></span>
            <span style="color: rgb(168, 168, 44); font-size: x-large;"><i class="fa fa-save"></i></span>
        </td>
      </tr>
    </tbody>
  </table>
